
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    background:#fdfdfd;
    color:#333;
    text-align: center;
}

p, .p, ul, li {
    line-height: 1.5;
}

a, a:link, a:visited {
    text-decoration: underline;
    color:#333;
}
a:hover {
    text-decoration: none;
}

h1, .h1 {
    font-weight: 300;
    margin:2rem 0 4rem 0;
}

h2, .h2 {
    font-weight: 300;
    margin-top:5rem;
}

h3, .h3 {
    font-weight: 300;
    margin-top:2rem;
    font-weight:700;
    font-size:1rem;
}

h4, .h4 {
    font-weight: 300;
}

table, tr, td, thead {
    padding:0;
    margin:0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    line-height:1.5;
}
tr {
    padding:1rem 0;
}
td {
    min-width:6rem;
}

.iframe-container--4x3 {
    padding-top: 75%;
  }

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    margin:0;
    max-width: 720px;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     border:0;
     margin:0;
     padding:0;
  }



  blockquote{
    font-size: 1em;
    width:90%;
    font-style:italic;
    color: #555555;
    padding:1.2em 1rem 1.2em 3rem;
    border-left:8px solid #777 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
    box-sizing: border-box;
  }

  @media (min-width: 1024px) {
    blockquote {
        max-width: 640px;
    }
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#777;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }