.jmm-content {
    box-sizing: border-box;
    max-width:640px;
    margin:0 auto 0 auto;
    text-align: left; 
    padding:0
}
.jmm-content-section {
    padding: 1rem 1rem 4rem 1rem;
}
.jmm-content-section--full {
    padding:0;
}

.jmm-content-section img {
    width:100%;
}


@media (min-width: 1024px) {

    .jmm-content {
        position:fixed;
        top:0;
        left:32%;
        bottom:0;
        right:0;
        padding:0;
        max-width:100%;
        overflow-y:auto;
        -webkit-overflow-scrolling:touch;
        height:100%;
    }
    
    .jmm-content-section {
     padding:2rem 3rem 8rem 3rem;
    }

    .jmm-content-section--full {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding:0;
        background: none no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display:block;
    }

    .jmm-content--dark {
        background:#333;
        color:#fefefe;
    }

    .jmm-content p {
        max-width:720px;
    }

    .jmm-content h1 {
        font-size:2.5rem;
    }
    
}


img[src*="#poster"] {
    margin:2% 10%;
    width:80%;
    box-shadow:0 0 1rem rgba(0,0,0,0.25);
    box-sizing: border-box;
}
