.jmm-content {
    box-sizing: border-box;
    /*max-width:640px;*/
    margin:0 auto 0 auto;
    text-align: left; 
    padding:0
}
.jmm-content-section {
    padding: 0;
    margin-left:0;
    /*max-width: 640px;*/
}
.jmm-content-section img {
    width:100%;
}

.jmm-content-section {
   /* max-width:512px;*/
    margin:0 auto 0 auto;
}

.jmm-content-section--full {
    padding:0;
    max-width:100%;
    font-size: 0;
}

.jmm-content a:hover img, .jmm-content a:active img {
    opacity:0.75;
}


@media (min-width: 1023px) {

    .jmm-content {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:424px;
        width:auto;
        overflow-y:auto;
        -webkit-overflow-scrolling:touch;
        height:100%;
        box-sizing: border-box;

    }
    

    .jmm-content-section {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding:0;
        max-width:100%;
        background: none no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display:block;
        margin:0;
    }

    .jmm-content--dark {
        background:#333;
        color:#fefefe;
    }

    .jmm-content h1 {
        font-size:2.5rem;
    }
    
}


@media (min-width: 1365px) {
    .jmm-content-section {
        max-width:100%;
    }
}


img[src*="#poster"] {
    margin:2% 10%;
    width:80%;
    box-shadow:0 0 1rem rgba(0,0,0,0.25);
    box-sizing: border-box;
}



.pages--previous {
    float:left;
    text-align: left;
    width:33.3333%;
    margin-top:2rem;
    clear:left;
}
.pages--center {
    float:left;
    text-align: center;
    width:33.3333%;
    margin-top:2rem;
    
}
.pages--next {
    float:right;
    text-align: right;
    width:33.3333%;
    margin-top:2rem;
    clear:right;
}
.pages--titles--previous {
    color:#777;
    float:left;
    text-align: left;
    width:40%;
    font-size:0.9rem;
    margin-top:1rem;
    clear:left;
}

.pages--titles--next {
    color:#777;
    float:right;
    text-align: right;
    width:40%;
    font-size:0.9rem;
    margin-top:1rem;
    clear:right;
}