#console {
    //position:absolute;
    //left:0;
    //right:0;
    background:#111;
    //top:0;
    //bottom:0;
    color:#fefefe;
    font-family:"Lucida Console", Monaco, monospace;
    overflow:hidden;
    padding:4rem;
    font-weight:700;
    box-sizing:border-box;
    width:100%;
    height:100%;
    text-shadow:-2px -2px 2px 2px 0px black;
}