
.jmm-header {
    padding:2rem 1rem;
    text-align: center;
    color:#777;
    max-width:380px;
    width:100%;
    box-sizing: border-box;
    margin:0 auto 0 auto;
}


.jmm-footer small {
    font-size:0.6rem;
}
.jmm-footer {
    color:#777;
    margin:1rem 0 1rem 0;
    line-height:1;
}

.jmm-header-back, a.jmm-header-back {
    padding:1rem 0;
    display: block;
    font-size:0.8rem;
    color:#aaa;
    text-decoration: none;
    text-align: left;
    z-index:9999;
}
a.jmm-header-back:hover,a.jmm-header-back:active {
    color:#555;
}

.jmm-content-section--full .jmm-header-back {
    padding:1rem;
}

@media (min-width: 1024px) {
    .jmm-header  {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width:380px;
        padding:2rem;
        overflow-y:auto;
        -webkit-overflow-scrolling:touch;
    }

    a.jmm-header-back {
        display: none;
    }

    .jmm-footer {
      
    }
    .jmm-header-wrap {
        flex: 1;
    }

    .jmm-header-wrap, .jmm-footer-wrap  {
        max-width:480px;
        margin:0 auto 0 auto;
    }
}






.jmm-header a {
    color:#777;
    text-decoration: underline;
}
.jmm-header a:hover {
    text-decoration: none;
}

.jmm-header-headshot {
    border-radius: 50%;
    width:6rem;
    overflow: hidden;
    margin:0 auto 1rem auto;
}

.jmm-header-headshot img {
    width:100%;
}

.jmm-header-title {
    font-weight:400;
    font-size:1.25rem;
    margin-bottom:0;
    color:#555;

    /*text-transform: uppercase;
    font-weight:200;
    letter-spacing:2px;
    font-size:1.25rem;*/
}

.jmm-header-title, .jmm-header-subtitle {
    letter-spacing:0.02rem;
}
.jmm-header-nav {
    padding:1rem 0 1rem 0;
    text-align: center;
}
a.jmm-header-navlink, .jmm-header-navlink {
    padding:0 0.5rem;
    text-decoration: none;
}
.jmm-header-navlink, a.jmm-header-navlink svg {
    /*width:1.175rem;
    height:1.175rem;*/
    height:1rem;
    width:1rem;
    fill:#bbb;
    /*transition:fill 1.0s ease;*/
}

.jmm-header-navlink, a.jmm-header-navlink:hover svg {
    fill:#333;
}

.jmm-header-navlink, a.jmm-header-navlink:hover span {
    color:#333;
}
   

.jmm-header-navlink__caption {
	font-size:0.8rem;
	line-height:1;
	padding-left:4pt;
	vertical-align:text-bottom;
	color:#777;
}
.jmm-header-navlink__icon {
    vertical-align:middle;
}


.jmm-header-subtitle {
    font-size:0.8rem;
    line-height: 1.5;
    font-weight: 400;
    padding:1rem 0 0 0;
    margin:0;
    color:#777;
}
.jmm-header-subtitle strong {
    color:#444;
}


.jmm-header-summary {
    font-size: 0.8rem;
    font-weight: 400;
    line-height:1.5;
    padding:1rem 0.5rem;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    text-align: left;
}

.jmm-header {
    padding:1rem 2rem;
}
.jmm-header h1 {
 padding:0;  
 margin:0;     
}
@media (min-width: 1024px) {
    .jmm-header {
        /*padding:2rem;*/
    }
    .jmm-header h1 {
        padding:0;  
        margin:1rem 0 0rem 0;
    }
}
