.jmm-post {
max-width:1024px;width:100%;padding:3rem 2rem;position: relative;
}


.jmm-post__sidebar {
    position: absolute;width:250px;right:0;top:3rem;bottom:0;
}

.jmm-post__content {
    padding-right:250px;padding-bottom:8rem;
}


@media (min-width: 1024px) {
    .jmm-post {
        padding:3rem 8rem;
    }

}