sidebar {
    font-size:1rem;
}
sidebar nav {
    border-left:1px solid #ddd;
    padding:0.5rem 0 1.5rem 0;
}
sidebar h3 {
    padding:0 1.5rem 0.25rem 1.5rem;
    font-size: 1rem;
    margin:0.5rem 0 0 0;
    border-left:4px solid transparent;
}
sidebar nav ul {
    margin:0;
    padding:0;
}

sidebar nav ul li {
    list-style: none;
    padding:0.25rem 1.5rem;
    border-left:4px solid transparent;
}

sidebar nav ul li a,
sidebar nav ul li a:active,
sidebar nav ul li a:link,
sidebar nav ul li a:visited {
    text-decoration: none;
    /*color:#0678be;*/
    color:#777;
}

sidebar nav ul li a:hover {
   /* color:#064771;*/
   color:#222;
}

sidebar nav ul li.active {
    background:#eee;
    color:#222;
    border-left:3px solid #222;
}

sidebar nav ul li.active a {
    color:inherit;
}