<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">		
        <link href="/css/styles.css" rel="stylesheet">		
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.1/dist/jquery.fancybox.min.css" />
        <style>
        .fancybox-bg {
            background:black;
        }
        .fancybox-button {
            background:none;
		font-family:inherit;
        }

        </style>
        <meta name="google-site-verification" content="dDwaE4YDlPF7MQ6YLYQ7p0U7iF5ptniynAxyvHJcNNs" />

        <!-- Document Meta -->
        <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">

        <!-- Page Meta -->
        <title>
            {% if page.title != site.title %}{{page.title }} | {% endif %}{{site.title}}
        </title>
        <meta name="description" content="{{ page.description }}">
        <meta name="robots" content="index, follow">
        {% comment %}
        <base href="{{ site.url }}">
        <link rel="canonical" href="{{ site.url }}{{page.permalink}}"/>
        {% endcomment %}

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Browser Meta -->
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <!-- Social Meta -->
        <meta property="og:type" content="profile" /> 
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image" content="{{ site.url }}/thumbnail.jpg">
        <meta property="og:image:secure_url" content="{{ site.url }}/thumbnail.jpg" />
        <link rel="image_src" href="{{ site.url }}/thumbnail.jpg" />

        <meta itemprop="name" content="{{ page.title }}"/>
        <meta itemprop="url" content="{{ site.url }}"/>
        <meta itemprop="thumbnailUrl" content="{{ site.url }}/thumbnail.jpg"/>

        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:site_name" content="{{ page.title }}">
        <!-- <meta property="fb:app_id" content="your_app_id" /> -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:alt" content="Thumbnail">

</head>
<body class="{{page.classes}} {{page.slug}}">

    <header class="jmm-header">
        <div class="jmm-header-wrap">

    {% if page.url != '/' %}
    <a href='/' class="jmm-header-back">
        &larr; Back to Homepage
    </a>
    {% endif %}

            <div class="jmm-header-headshot">
            <a href="/"><img src="/images/jmm.jpg" /></a>
            </div>
            <h1 class="jmm-header-title">{{site.title}}</h1>
            <h2 class="jmm-header-subtitle">{{site.subtitle}}</h2>
            <nav class="jmm-header-nav">
                <a alt="Contact" class="typeform-share link jmm-header-navlink" href="https://jamesmaltby.typeform.com/to/QgBPOM" data-mode="drawer_left" data-hide-headers=true data-hide-footer=true data-submit-close-delay="0">
                    <svg class="jmm-header-navlink__icon"><use xlink:href="#email-filled-closed-envelope" /></svg><span class="jmm-header-navlink__caption">Contact</span>
                </a>
                <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

            <a rel="me" alt="LinkedIn" class="jmm-header-navlink " href="https://www.linkedin.com/in/jamesmichaelmaltby">
            <svg class="jmm-header-navlink__icon"><use xlink:href="#linkedin-logo" /></svg><span class="jmm-header-navlink__caption">LinkedIn</span>
            </a>
            {% comment %}
            <a rel="me" alt="Twitter" class="jmm-header-navlink " href="/cmalt">
            <svg class="jmm-header-navlink__icon"><use xlink:href="#twitter-logo-on-black-background" /></svg><span class="jmm-header-navlink__caption">Twitter</span>
            </a>
            <a rel="me" alt="Instagram" class="jmm-header-navlink " href="/cmalt">
                <svg class="jmm-header-navlink__icon"><use xlink:href="#instagram" /></svg><span class="jmm-header-navlink__caption">Instagram</span>
                </a>
            {% endcomment %}
            </nav>

            {%if page.hidebio != true %}
            <p class="jmm-header-summary">
            {{ site.summary }}
            </p>
            {% else %}
            <p class="jmm-header-summary">
                {{ site.description }}
            </p>
            {% endif %}
        </div>
    </header>


<main id="main" class="jmm-content">
    {%if page.background %}
    <div class="jmm-content-full" style="background-image:url({{page.background}});"></div>
    {% endif %}


    

    {% assign content = content | strip_newlines %}
    {% if content != "" %}
    <section class="jmm-content-section">
    
    {{content}}
    </section>
    {% endif %}

</main>
        
<footer class="jmm-footer">
    <div class="jmm-footer-wrap">
        
        <small>
            Designed by {{ site.title }} &copy; {{ "now" | date: "%Y" }}<br/>
            Site uses cookies to anonymously track usage
        </small>
    </div>
</footer>


</body>

{% include icons.html %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.1/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript">
$.fancybox.defaults.buttons = ['close'];
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id=UA-47143913-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-47143913-4');
</script>


<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Person",
"name": "James Michael Maltby",
"image": "jamesmichaelmaltby.jpg",
"jobTitle": "Learning technologist & educational researcher",
"birthPlace": "Royal Tunbridge Wells, England",
"gender": "male",
"height": "72 inches",
"nationality": "British",
"address": {
"@type": "PostalAddress",
"addressLocality": "Brighton",
"addressRegion": "England"
},
"url": "https://www.jamesmichaelmaltby.com",
"sameAs" : [ 
        "https://www.linkedin.com/in/jamesmichaelmaltby"
    ]
}
</script>
</body>
</html>

