---
layout: default
---


<div style="max-width:1024px;width:100%;padding:3rem 2rem;">

        <sidebar style="width:30%;">
                <nav>
                {% assign primary_category = page.categories[0] %}
                <h3>{{ site.data.categorymeta[primary_category] }}</h3>
                
                
                {% for category in page.categories %}
                    <ul>
                    {% assign sortedposts = site.posts | sort : 'order' %}
                    {% for post in sortedposts %}
                        {% if post.categories contains category %} 
                            <li class="{% if post.title == page.title %}active{% endif %}"">
                            <a class="{% if post.title == page.title %}active{% endif %}"href="{{post.url}}">
                            {{ post.title }}
                            </a>
                            </li>
                        {% endif %}
                    
                    {% endfor %}
                    </ul>
                {% endfor %}
                </nav>
                </sidebar>

    <div style="float:left;width:65%;">

<h1>{{ page.title}}</h1>
{{ content }}
</div>

</div>
